/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js/*
/public/css/*
.env.js
/tests/_data/*
/tests/_output/*
/tests/_support/_generated/*
codeception.yml