
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "./variables";

// Bootstrap
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

a, p {
  font-size: 12px;
  font-weight: 300;
}

td, th {
  padding: 4px !important;
}

.btn-xs {
  margin: 3px !important;
}